.footer img {
    width: 100%;
}

.footer {
    background-image: url(../assets//main//img5.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.container__footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.container__footer div {
    width: 35%;
    color: white;
    margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
    .container__footer div {
        width: 80%;
        color: white;
        margin-bottom: 100px;
    }
}
