.heroi {
    background-color: var(--color-white);
}

.hero__containeri {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 30vh;
    align-items: center;
    justify-content: center;
    
   

}

.hero__title h2 {
    color: black;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
}

.hero__title h2 span {
    color: #6503A6;
}

@media screen and (max-width: 768px) {
    .hero__title h2 {
        color: black;
        font-size: 2.5em;
        font-weight: 900;
        text-align: center;
    }
    
   
    
}